@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

body {
  font-family: "Quicksand", sans-serif;
}

.bg-image {
  background-color: rgba(0, 0, 0, 0.6) !important;
  background-image: url("./logo/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-blend-mode: overlay;
  height: 60vh;
}

.w-75 {
  width: 75px;
  height: 75px;
}

li {
  list-style-type: none;
}
