@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

body {
  font-family: "Quicksand", sans-serif;
}

.bg-image {
  background-color: rgba(0, 0, 0, 0.6) !important;
  background-image: url("./logo/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-blend-mode: overlay;
  height: 60vh;
}

.w-75 {
  width: 75px;
  height: 75px;
}

li {
  list-style-type: none;
}

/* Slider CSS */

.card {
  width: "18rem";
  /* background-image: url("logo/t20.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
  box-shadow: 5px 5px 3px grey;
}
/* Fixture Navbar */
.navbar-custom {
  background-color: #bd4233;
}
.navbar-custom li a {
  color: #ffffff;
}
/*Navbar CSS */
.navigation {
  margin-left: 0px !important;
  margin-right: 0px !important;
  background-color: crimson;
  text-align: right;
  width: 100%;
  overflow: hidden;
  height: 65px;
  padding-top: 10px;
}

.logo img {
  height: 40px;
  float: left;
  padding-top: 5px;
}

.nav {
  float: right;
}

.nav .nav-item .nav-link {
  font-size: 1em;
  color: #ffffff;
}
*/ .nav .nav-item .active {
  font-size: 1em;
  font-weight: 700;
  color: #ffffff;
}
