@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

body {
  font-family: "Quicksand", sans-serif;
}

.bg-image {
  background-color: rgba(0, 0, 0, 0.6) !important;
  background-image: url("./logo/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-blend-mode: overlay;
  height: 60vh;
}

.w-75 {
  width: 75px;
  height: 75px;
}

li {
  list-style-type: none;
}

/* Slider CSS */
.score_header {
  /* margin-left: 0px !important;
  margin-right: 0px !important;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  max-height: 100px;
  flex-wrap: nowrap;
  display: flex; */
}
.match_single {
  padding: 0px;
}
.live_match_details {
  float: right;
  width: 75%;
  border-right: 1px solid #aaaaaa;
  border-right-style: dotted;
  padding-top: 5px;
  padding-left: 50px;
}
.series_name {
  text-align: left;
  font-size: 0.4em;
  /* font-weight: 700; */
  margin: 0px;
}
.match_details {
  overflow: hidden;
}
.teams {
  float: left;
}
.team_name {
  text-align: left;
  font-size: 0.5em;
  margin: 0px;
  padding: 0px;
}
.scores {
  float: right;
  padding-right: 10px;
}
.team_score {
  text-align: right;
  font-size: 0.5em;
  font-weight: 700;
  margin: 0px;
  padding: 0px;
}
.match_result {
  text-align: right;
  font-size: 0.4em;
  font-weight: 700;
  padding-right: 10px;
}
.match_result p {
  margin-bottom: 5px;
}

.series_icon {
  float: left;
  padding-right: 33px;
  width: 25%;
}

/* LeagueList CSS */
.container-1 div {
  padding: 10px;
}
.container-1 {
  display: flex;
  align-self: center;
  padding-top: 30px;
}
.box-1 {
  flex: 1;
}
.box-2 {
  flex: 1;
}

.box-3 {
  flex: 1;
}
.box-4 {
  flex: 1;
}
.card {
  width: "18rem";
  background-image: url("logo/t20.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
  box-shadow: 5px 5px 3px grey;
}
